@font-face {
    font-family: "orbitron";
    src: url("../font/Orbitron-Regular.ttf");
    /* si vous êtes dans un sous dossier ../ sinon ./ si vous êtes dans le dossier mère*/
}

body{margin:0;} /* pour faire sauter la amrge par defaut */
header {
    position: relative;
    width: 80%;
    margin: 0 auto;
    /*  haut & bas en auto*/
    /* border: 1px red solid; */
}

header img.headerhamburger {
    width: 100%
}

/* système de parenter pas obligatoire*/
ul,
li {
    display: inline;
}

#menu {
    float: right;
}

/* # pour id et . pour class */
span.logoGourmet {
    position: relative;
    top: -65px;
}

h1 {
    position: absolute;
    bottom: -6px;
    left: 20px;
    font-family: "orbitron", 'Times New Roman', Times, Serif;
    font-weight: 1000;
    font-size: 2rem;
    font-style: oblique;
    letter-spacing: 0.4rem;
    /* color: rgba(33, 226, 240, 0.6); */
    color : rgba(119, 100, 100, 0.829)
}

* {
    font-family: "orbitron", 'Times New Roman', Times, Serif;
}

#about {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

#about div {
    width: 50%;
    padding: 2.5rem;
}
#about h2,#about h3 {
    text-align: center;
}

#about h2{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    font-weight: 600;
}
#about h3{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
}

.img1 {
    width: 100%;
}

#ourMenu {
    width: 60%;
    margin: 0 auto;
    display: flex;

}
#ourMenu div {
    width: 50%;
    padding: 2.5rem;
}
.img2 {
    width: 100%;
    /* justify-content: space-around; */
    align-items: flex-end;
}

.greytext{
    color:rgba(179, 170, 170, 0.877);
}

/* .menu li{
    display: flex;
    justify-content: space-between;
} */
.bighr{
    width: 60%;
    margin: 0 auto;
    color:rgba(238, 229, 229, 0.151);
}

#Contact {
    width: 60%;
    margin: 0 auto;
    display: flex;

}
#Contact div {
    width: 100%;
    padding: 2.5rem;
}

.contacth4{
    color: rgba(6, 179, 164, 0.719);
}
hr{
    width: 100%;
    margin: 0 auto;
    color:rgba(238, 229, 229,0.4);
}

h2{ line-height: 7rem;}

button{
    height: 2rem;
}

/* line-height: 0.5rem;*/